*.bridgesupport
*.gem
*.log
*.rbc
*.swp
*.webm
.bundle/
.byebug_history
.dat*
.jekyll-cache/
.jekyll-metadata
.repl_history
.rvmrc
.sass-cache/
.vscode/
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/coverage/
/doc/
/lib/bundler/man/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
_site
assets/resized/
build-iPhoneOS/
build-iPhoneSimulator/
build/
vendor/
.DS_Store
