{% assign largest = resized | sort: 'width' | last %}
{% assign largest2 = resized | sort: 'width'%}

{% capture srcset %}
{% for i in largest2 %}
/{{ i.path }} {{ i.width }}w,
{% endfor %}
{% endcapture %}

<picture>
  <source type="image/webp" srcset="{{ srcset | strip_newlines }}" loading="lazy"
    sizes="(max-width: 1200px) 300px, (max-width: 2000px) 500px, (max-width: 3200px) 800px, 100vw">
  <source type="image/jpg" srcset="{{ srcset | replace: 'webp', 'jpg' | strip_newlines }}" loading="lazy"
    sizes="(max-width: 1200px) 300px, (max-width: 2000px) 500px, (max-width: 3200px) 800px, 100vw">
  <img src="/{{ path }}">
</picture>

<!-- <img srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w" loading="lazy" src="/{{ path }}"
  sizes="(max-width: 1200px) 300px, (max-width: 2000px) 500px, (max-width: 3200px) 800px, 100vw"> -->
