@import 'variables';

footer {
    width: 70%;
    margin: 1em auto 2em;
    opacity: 0.8;
    border-top: 1px solid unquote("hsla(var(--color-h), var(--color-s), var(--color-l), 0.5)");
    padding-top: 1em;

    @media screen and (max-width: $small) {
        flex-direction: column;
        width: 85%;
    }
}
