@import 'variables';

nav {
    width: 70%;
    margin: 1em auto 2em;
    text-align: center;
    display: flex;
    justify-content: space-between;

    .separator {
        flex-grow: 2;
    }

    .link {
        margin-left: 1em;
    }

    @media screen and (max-width: $small) {
        flex-direction: column;
        width: 85%;

        .separator {
            display: none;
        }

        .link {
            margin-left: initial;
        }

        a {
            margin-bottom: 1em;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

#refresh-notif {
    display: none;
    text-align: center;
    margin-bottom: 1em;
}
