$bodyFont: 'PT Sans', sans-serif;
// $titleFont: 'IBM Plex Mono', monospace;
$titleFont: 'Iosevka Heavy', monospace;
$monoFont: 'Iosevka', monospace;
$tiny: 350px;
$small: 600px;
$medium: 1200px;
$borderRadius: 4px;
$animationDuration: 0.2s;
$animationTiming: ease;

@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

@font-face {
    font-family: 'Iosevka Heavy';
    font-display: 'swap';
    font-weight: 900;
    src: url('/assets/fonts/iosevka-heavy.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka';
    font-display: 'swap';
    font-weight: 400;
    src: url('/assets/fonts/iosevka-regular.woff2') format('woff2');
}
