$backgroundColor: #333333;
$bodyColor: #eeeeee;
$accentColor: #009fb7;

:root {
    color-scheme: dark;
    --color: #{$bodyColor};
    --background-color: #{$backgroundColor};
    --accent-color: #{$accentColor};
    --color-h: #{hue($bodyColor)};
    --color-s: #{saturation($bodyColor)};
    --color-l: #{lightness($bodyColor)};
    --background-h: #{hue($backgroundColor)};
    --background-s: #{saturation($backgroundColor)};
    --background-l: #{lightness($backgroundColor)};
}
