@import "nav";
@import "footer";

body {
  background: var(--background-color);
  color: var(--color);
  font-family: $bodyFont;
  font-size: 1.4em;
  margin: 0;
  width: 100%;
  transition: color $animationDuration $animationTiming,
    background-color $animationDuration $animationTiming;

  .content {
    min-height: 100vh;
  }

  @media screen and (max-width: $tiny) {
    font-size: 1em;
  }
}

pre,
code {
  font-family: $monoFont;
  white-space: pre-wrap;

  @media screen and (max-width: $small) {
    font-size: 0.8rem;
  }

  &[data-lang]::before {
    content: attr(data-lang);
  }
}

a {
  color: var(--accent-color);
  text-decoration: none;

  &:visited {
    color: var(--accent-color);
  }

  &:hover {
    color: var(--accent-color);
    text-decoration: underline;
  }
}
